<div class="G-fondo--primario G-max--100 G-borde--blanco G-borde--lr-no G-borde--bottom-no">
  <div class="E-max--940 G-margen--auto G-flex G-dis-h--cen G-dis-v--middle E-footer-resp" style="padding: 30px 20px;">
    <div class="G-flex--1 G-txt--cen G-margen--xxl G-margen--tb-0 G-margen--left-0">
      <img style="max-width: 200px;width: 100%;" src="src/icons/exclusivos/logo-white.svg" alt="">
      <p class="G-color--blanco G-txt--xs G-txt--cen E-font-montserrat E-separador-difuminado G-pos--relativo G-margen--xxs G-margen--lr-0 G-padding--xxs G-padding--lr-0 G-padding--bottom-0">Síguenos en:</p>
      <div class="G-flex G-dis-h--cen G-dis-v--middle">
        <a href="#" class="G-size--w-xxl G-size--h-xxl G-margen--s G-margen--tb-0 G-margen--left-0"><img class="E-max--wyh" src="src/icons/exclusivos/instagram.svg" alt=""></a>
        <a href="#" class="G-size--w-xxl G-size--h-xxl G-margen--s G-margen--tb-0 G-margen--left-0"><img class="E-max--wyh" src="src/icons/exclusivos/pinterest.svg" alt=""></a>
        <a href="#" class="G-size--w-xxl G-size--h-xxl G-margen--s G-margen--tb-0 G-margen--left-0"><img class="E-max--wyh" src="src/icons/exclusivos/facebook.svg" alt=""></a>
        <a href="#" class="G-size--w-xxl G-size--h-xxl G-margen--s G-margen--tb-0 G-margen--left-0"><img class="E-max--wyh" src="src/icons/exclusivos/linkedin.svg" alt=""></a>
      </div>
    </div>
    <div class="G-flex G-dis-h--cen" style="flex: 2;">
      <div class="">
        <p class="G-margen--top-0 G-color--secundario E-txt--18 G-txt--negrita">
          Sobre nosotros
        </p>
        <ul class="G-listado" style="padding-left: 15px;">
          <li class="G-padding--xs G-padding--lr-0 G-padding--top-0">
            <a href="4-nosotros.html" class="G-txt--xxs G-color--blanco G-txt--seminegrita E-font-montserrat G-txt--sinsubrayado">
              Nosotros
            </a>
          </li>
          <li class="G-padding--xs G-padding--lr-0 G-padding--top-0">
            <a href="16-impacto - simbolos.html" class="G-txt--xxs G-color--blanco G-txt--seminegrita E-font-montserrat G-txt--sinsubrayado">
              Medir el impacto
            </a>
          </li>
          <li class="G-padding--xs G-padding--lr-0 G-padding--top-0">
            <a href="5-business.html" class="G-txt--xxs G-color--blanco G-txt--seminegrita E-font-montserrat G-txt--sinsubrayado">
              Gröta Business
            </a>
          </li>
          <li class="G-padding--xs G-padding--lr-0 G-padding--top-0">
            <a href="19-proveedor.html" class="G-txt--xxs G-color--blanco G-txt--seminegrita E-font-montserrat G-txt--sinsubrayado">
              Nuestros proveedores
            </a>
          </li>
          <li class="G-padding--xs G-padding--lr-0 G-padding--top-0">
            <a href="10-blog.html" class="G-txt--xxs G-color--blanco G-txt--seminegrita E-font-montserrat G-txt--sinsubrayado">
              Blog
            </a>
          </li>
          <li class="G-padding--xs G-padding--lr-0 G-padding--top-0">
            <a href="7-faq.html" class="G-txt--xxs G-color--blanco G-txt--seminegrita E-font-montserrat G-txt--sinsubrayado">
              FAQs
            </a>
          </li>
          <li class="G-padding--xs G-padding--lr-0 G-padding--top-0">
            <a href="6-contacto.html" class="G-txt--xxs G-color--blanco G-txt--seminegrita E-font-montserrat G-txt--sinsubrayado">
              Contacto
            </a>
          </li>
        </ul>
      </div>
      <div class="G-padding--xxsupergigante G-padding--tb-0">
        <p class="G-margen--top-0 G-color--secundario E-txt--18 G-txt--negrita">
          Tienda
        </p>
        <div class="G-listado" style="padding-left: 15px;">
          {{ drupal_menu("tienda") }}
        </div>
      </div>
      <div>
        <p class="G-margen--top-0 G-color--secundario E-txt--18 G-txt--negrita">
          Políticas
        </p>
        <div class="G-listado" style="padding-left: 15px;">
          {{ drupal_menu("politicas") }}
        </div>
      </div>
    </div>
  </div>
</div>
<!--EMPIEZO DE POSFOOTER-->
<div class="G-fondo--blanco G-max--100">
  <div class="E-max--1277 G-margen--auto G-flex G-flex-h--repartidos G-dis-v--middle" style="padding: 15px 20px;">
    <p class="G-color--terciario G-txt--xs E-font-montserrat G-margen--xm G-margen--tb-0 G-margen--left-0">Grota © copyright 2019 - Todos los derechos reservados</p>
    <div class="G-flex">
      <a href="#" class="G-txt--cen G-color--terciario G-txt--xs E-font-montserrat G-txt--sinsubrayado G-margen--xxs G-margen--tb-0 G-margen--left-0">Aviso legal </a>
      <a href="#" class="G-txt--cen G-color--terciario G-txt--xs E-font-montserrat G-txt--sinsubrayado">Sobre las cookies</a>
    </div>
  </div>
</div>
