{% if page.highlighted %}
  {{ page.highlighted }}
{% endif %}
<div class="fullscreen E-fondo-login G-fondo--full E-fondo-norepeat G-flex G-flex--vertical G-dis-v--middle" style="overflow-y: auto;">
  <div id="auth_box" class="G-formulario G-formulario-login G-max--320 G-margen--auto G-padding--xm G-txt--cen">
    {{ page.header }}
    {{ page.content.system_main}}
  </div>
</div>
